# http://docs.travis-ci.com/user/migrating-from-legacy/
sudo: false

language: python
python:
    - 2.7
    - 3.4
    - 3.5
    - 3.6
    - 3.7
    - 3.8
    - nightly
    - pypy
    - pypy3

install: pip install 'setuptools<45' . 'pytest<5' 'zipp<2' pytest-cov
script: py.test -v --cov=surt
